<div class="heading">
  <h1 class="title">Soccer Bingo</h1>
  <%= button_to "Generate Bingo Card", cards_path %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="container">
      <div class="game-container">
        <div class="grid-container">
          <div class="grid-row">
            <div class="grid-cell">
              <div class="bingo">B</div>
            </div>
            <div class="grid-cell">
              <div class="bingo">I</div>
            </div>
            <div class="grid-cell">
              <div class="bingo">N</div>
            </div>
            <div class="grid-cell">
              <div class="bingo">G</div>
            </div>
            <div class="grid-cell">
              <div class="bingo">O</div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="center-tile">FREE</div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
            <div class="grid-cell">
              <div class="phrase"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</table>

<br>
