/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.bingo {
  color: #000;
  font-size: 4.8rem;
  text-align: center;
}

.line {
 font-size: 1rem;
 text-align: center;
 background-color: rgba(238, 228, 218, 0.35)
}

.line a {
  color: #000;
  padding-top: 40px;
  display:inline-block;
  width:107px;
  height:67px;
}

.heading {
 font-size: 1.5rem;
 text-align: center;
}
